@charset "utf-8";
/* CSS Document */
#tieude{
	font-weight:bold;
	font-size:50px;
	font-style:normal;
	color:#0F0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:underline;
	}
#doanvan{
	font-weight:italic;
	font-size:20px;
	text-align:justify
	}
